
@{
    ViewBag.Title = "Tìm Kiếm Khóa Học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/Search/Search.css" rel="stylesheet" />
<body>
    <style>
    </style>
    <div id="wrapper">
        <div id="tabsTop">
            <div id="bodySearch">
                <div class="searchLeft">Kết quả tìm kiếm: <span style="color:darkcyan;font-weight:700;font-size:18px;">@ViewBag.txtSearch</span></div>
                <div class="searchRight">Tìm thấy <span style="color:darkcyan;font-weight:700;font-size:18px;">@ViewBag.totalItem</span> khóa học</div>
                <div class="clear-both"></div>
            </div>
            <div class="titleCourse">

                <div class="titleCourse">
                    <a class="nav-link" aria-current="page" href="#">Học nhiều nhất</a>
                    <a class="nav-link" href="#">Đánh giá cao</a>
                    <a class="nav-link" href="#">Mới nhất</a>
                    <a class="nav-link" href="#">Giá thấp đến cao</a>
                    <a class="nav-link" href="#">Giá cao đến thấp</a>
                </div>
            </div>
            <!-- Để các khoá học top -->
            <div class="tabTop">
                @foreach (OnlineEduDB.Course item in @ViewBag.ListCourse)
                {
                    <a href="/detailcourse">
                        <div class="card_item">
                            <div class="card_inner">
                                <a href="/detailcourse?CourseID=@item.CourseID"><img src="~/Content/images/@item.Image_url"></a>
                                <div class="role_name">
                                    <a style="color:#e36686;" href="/detailcourse?CourseID=@item.CourseID">@item.CourseName</a>
                                </div>
                                <div class="real_name">Gv: Tony</div>
                                <div class="film">@item.Price VNĐ</div>
                                <div class="nav-detail">
                                    <a class="register-course" href="">Đăng ký ngay</a>
                                    <a class="detail-course" href="/detailcourse?CourseID=@item.CourseID">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <center>
                <div class="paging">
                    @if (ViewBag.totalPage > 1)
                    {
                        for (int i = 1; i <= ViewBag.totalPage; i++)
                        {
                            if (ViewBag.index == i)
                            {
                                <a class="active" href="/search?txtSearch=@ViewBag.txtSearch&&index=@i">@i</a>
                            }
                            else
                            {
                                <a href="/search?txtSearch=@ViewBag.txtSearch&&index=@i">@i</a>
                            }
                        }
                    }
                </div>
            </center>
        </div>
    </div>
</body>

